<!DOCTYPE html>
<html>
    <head>

        <style>
            * {
                font-family: "Avenir";
            }

            body {
                background: #fde7a2;
                text-align: center;
            }
        </style>
    </head>
    <body>

        <h1 style="margin-bottom: 0">What does your day look like @{{ author }}</h1>
        <h4 style="font-weight: 400; font-size: 15px; margin-top: 5px; margin-bottom:40px;">Commits data aggregated since {{ since }}</h4>

        <div style="width:750px; margin-left: auto; margin-right: auto;">
            <canvas id="canvas"></canvas>
       
            <div style="float: left; width: 50%; text-align: center">
                <h3 style="font-size: 50px;margin-bottom: 0px;margin-top: 10px;padding: 0;">{{ totalCommits }}</h3>
                <small>commits in the last 30 days</small>
            </div>

            <div style="float: left; width: 50%; text-align: center">
                <h3 style="font-size: 50px;margin-bottom: 0px;margin-top: 10px;padding: 0;">{{ mostActiveHour }}h</h3>
                <small>most active hour</small>
            </div>

            <div style="clear: both; margin-bottom: 70px"></div>
        </div>

        <a 
            style="color: black; font-size: 13px;"
            href="https://github.com/RomainJeff/github-activity" 
            target="_blank">View code source on Github</a>
        
        <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
        <script>
            (function () {
                var config = {
                    type: 'line',
                    data: {
                        labels: [
                            '00h', '01h', '02h', '03h', '04h', '05h', '06h', '07h', '08h', '09h', '10h', '11h',
                            '12h', '13h', '14h', '15h', '16h', '17h', '18h', '19h', '20h', '21h', '22h', '23h',
                        ],
                        datasets: [{
                            label: 'Commit Graph',
                            backgroundColor: '#000000',
                            borderColor: '#000000',
                            pointRadius: 0,
                            pointHoverRadius: 0,
                            data: [
                                {% for commit in commits %}
                                    {{ commit }},
                                {% endfor %}
                            ],
                            fill: false,
                        }],
                    },
                    options: {
                        legend: {
                            display: false,
                        },
                        responsive: true,
                        tooltips: {
                            enabled: false,
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: false
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: false,
                                    labelString: 'Hours',
                                    fontFamily: 'Avenir',
                                    fontColor: '#000000',
                                }
                            }],
                            yAxes: [{
                                display: false,
                                scaleLabel: {
                                    display: false,
                                    labelString: 'Commits'
                                }
                            }]
                        }
                    }
                };
                var ctx = document.getElementById('canvas').getContext('2d');
                window.myLine = new Chart(ctx, config);
            })();
        </script>
    </body>
</html>
